/* Swiper container */
.swiper {
  /* Container positioning and layout */
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 100px;
  height: auto;
  margin-bottom: 50px;
}

/* Swiper slide */
.swiper-slide {
  /* Slide positioning and layout */
  align-items: center;
  justify-content: center;
  display: inline-block;
  background-position: center;
  background-size: cover;
  max-width: 600px;
  max-height: auto;
  box-shadow: none;
}

.swiper-slide img {
  /* Image properties */
  height: 600px;
  max-width: 600px;
  border-radius: 1rem;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}
/* Slide content */
.slide-content {
  /* Content positioning and styling */
  position: relative;
  color: white;
}

.top-content {
  /* Top content positioning */
  position: absolute;
  top: 20px;
  left: 20px;
}

.top-content h2 {
  /* Heading styling */
  font-size: 1.5rem;
  margin: 0;
}

.description {
  /* Description styling */
  font-size: 1rem;
  margin-top: 10px;
}

.right-content {
   /* Right content positioning */
  position: absolute;
  top: 20px;
  right: 20px;
}

.sale {
   /* Sale badge styling */
  background-color: #f45b5b;
  padding: 10px;
  border-radius: 80%;
  font-size: 1.5rem;
  font-weight: bold;
}

.bottom-content {
  /* Bottom content positioning */
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.bottom-content p {
  /* Paragraph styling */
  font-size: 1rem;
  margin: 5px 0;
}

.learn-more {
  /* Learn more link styling */
  display: inline-block;
  background-color: #007bff;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  margin-top: 10px;
}

/* Swiper navigation arrows */
.swiper-button-next,
.swiper-button-prev {
  /* Navigation arrows styling */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  z-index: 9999;
}

.swiper-button-next {
  right: 20px;
}

.swiper-button-prev {
  left: 20px;
}
/* Media query for mobile view */
@media(max-width: 768px){
  .swiper {
    /* Container padding and margin adjustments */
    padding: 50px 50px 40px 50px;
    margin: 0px;
  }
  .swiper-slide {
    /* Slide adjustments */
    width: 100%;
    height: 350px;
  }
  .swiper-slide img {
    /* Image adjustments */
    max-height: 350px;
    max-width: 100%;
  }
  .sale {
    font-size: 0.8rem;
  }
}